{{> userHeader}}
<main class="center">
	<dl>
		<dt>Stamp picture</dt>
		<dd><img src={{avatar.src}} alt={{avatar.description}}></dd>
		<h1>{{name}}</h1>
		<button><a href="profile/change-stamp">Change stamp</a></button>

		<form action="/profile" method="POST">
			<fieldset>
				<div>
					<legend>Personal information</legend>
					<button><a href="/profile/edit">Edit</a></button>
				</div>
				<div>
				<dt><label for="name">Name</label></dt>
				<dd><input id="name" type="text" placeholder={{name}} disabled>{{name}}</dd>
				</div>
				<div>
				<dt><label for="age">Age</label></dt>
				<dd><input id="age" type="number" placeholder={{age}} disabled>{{age}}</dd>
				</div>
				<fieldset>
					<legend>Location</legend>
				<dt><label for="city">City</label></dt>
				<dd><input id="city" type="text" placeholder={{city}} disabled>{{city}}</dd>

				<dt><label for="country">Country</label></dt>
				<dd><input id="country" type="text" placeholder={{country}} disabled>{{country}}</dd>
				</fieldset>
			</fieldset>
		</form>
		<noscript>
			<input type="submit" value="Update profile">
		</noscript>
		<section>
			<h2>Security</h2>
			<dt>E-mail</dt>
			<dd>{{email}}</dd>
			<button><a href="profile/change-email">Change E-mail</a></button>

			<dt>Password</dt>
			<dd><input type="hidden">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</dd>
			<button><a href="profile/change-password">Change password</a></button>
		</section>
	</dl>
	<a href="/logout">Sign out</a>
</main>